<div class="container mt-5">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="30">
    <mat-grid-tile class="large-font">
      <a [routerLink]="['/veiculo-list']" style="width: 100%;">
        <img class="imagem" style="width: 100%;" src="../../assets/foto-frota.png">
        <div class="texto"><strong>Minha Frota</strong></div>
      </a>
    </mat-grid-tile>

    <mat-grid-tile class="large-font">
      <a [routerLink]="['/rota-veiculo']" style="width: 100%;">
        <img class="imagem" style="width: 100%;" src="../../assets/img_preview">
        <div class="texto-2"><strong>Minha Rota</strong></div>
      </a>
    </mat-grid-tile>
    <mat-grid-tile class="large-font">3</mat-grid-tile>
    <mat-grid-tile class="large-font">4</mat-grid-tile>
  </mat-grid-list>
