.container {
  max-width: 1200px;
}

.rota-lista {
  max-height: 400px;
  overflow-y: auto;
}

ol.collapsed {
  max-height: 100px;
  overflow: hidden;
}

.expand-icon {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.veiculo-select {
  width: 350px;
  display: block;
}

::ng-deep .veiculo-select .mat-form-field-flex {
  background-color: white;
}
